@import "bulma";

body {
  font-family: sans-serif;
  font-size:1rem;
  background: #ebebe6;
}
h1{
  font-size:1.5rem;
  line-height:normal;
  font-weight: bold;
  letter-spacing: normal;
}
h2{
  font-size:1.2rem;
  line-height:normal;
  font-weight: bold;
  letter-spacing: normal;
}
h3{
  font-size:1rem;
  line-height:normal;
  font-weight: bold;
  letter-spacing: normal;
}
.green{
  color: green;
}
.bg-gray{
  background: gray;
}
.bg-blue{
  background: blue;
}
.size-2{
  font-size: 2rem;
}
.bordered{
  border: 1px solid #e0e0e0;
}
h5{
  font-size:1.5em;
}
.q-badge{
  padding:6px;
}
.strong{
  font-weight:bold;
}
a{
  color: blue;
}
.blue{
  color:blue;
}
.blue-bg{
  background: #0000FF;
}
.q-dialog__inner .q-card {
  background-color: #f3f8ff;
}
.q-card{
  border-radius: 20px;
}
.q-layout__shadow:after{
  box-shadow: 0 0px 10px rgb(0 0 0 / 10%);
}
.btn-primary{
  background:blue;
  color:white;
}
.btn-secondary{
  background:#e0e0e0;
  color:#333;
}
.welcome-card{
  width:630px;
}
.welcome-list{
  padding-left:2rem;
  ul{
    margin-left:3rem;
    list-style: circle;
  }
  li{
    list-style: circle;
    margin-top:.6rem;
  }
}
.modal-header {
  background-color: white;
  display: flex;
  border-bottom: 1px solid #cae9ff;
  .q-btn {
    color: #ff5656;
  }
}
body.desktop .q-focusable:focus > .q-focus-helper{
  background: none;
  opacity: 0;
}

.sessions-info .q-item-type > .column{
  padding: 0;
  flex-grow:0;
  display:inherit;
  padding:.5rem;
}
.session-info-card .q-item{
  display: block !important;
  flex-grow: 1 !important;
}
.sessions-info .q-item{
  line-height:3rem;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  margin: .5rem;
}
.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
}
.q-tab--active {
  background-color: rgb(0, 86, 245) !important;
  color: #ffffff !important;
}
.q-tab--inactive {
  background-color: rgb(241, 241, 241) !important;
  color: black !important;
}
.q-tab__indicator {
  height: 0px;
}
.pdf-edit-column{
  height:100%;
  overflow:scroll;
}
.renderer {  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/*MOBILE*/
@media screen and (max-width: 600px) {
}

@media (min-width:801px)  {
 /* tablet, landscape iPad, lo-res laptops and desktops */ 

 .session-container{
   width:85%;
   margin:0 auto;
   margin-top: 1rem;
 }
}

.workflow-container{
  background: #f4f4ff;
  border-radius: 10px;
  border: 1px solid lightgray;
  width:auto;
}

//CUSTOMER DASH

.customer-nav, .notary-nav{
  a{
    color: #333;
  }
}
//SESSION NOTARY DASH
.sessions-table{
  th{
    font-size:.9rem;
    vertical-align: middle;
    text-transform: uppercase;
  }
  td{
    vertical-align: middle;
  }
  .column{
    padding: 0;
    flex-grow: 0;
    display: inherit;
  }
}
//SESSION WORKFLOW

.video-container{
  left: 25px; 
  top: 25px; 
  max-width: 300px; 
  font-size: 20px; 
  font-weight: bold;
}
.pdf-upper-text{
  padding-right:1rem;
}
.pdf-pages-container{
  overflow-y: scroll;
  margin-top: 12px;
  height: 88%;
  text-align: center;
  background: #a2a2a2;
}
.video-item[data-v-49ef9b35]{background:none !important;}

.doc-list-preview{
  min-width: 24rem;

  ul{
    padding:0;
    margin:0;
  }
  li{
    list-style:none;
  }
  .doc-title{
    border-left: 2px solid #333;
  }
}
.workflow-icons{
  i{
    font-size:2rem;
    color:#333;
  }
  .blue{
    color: blue !important;
    -webkit-filter: hue-rotate(180deg);
  }
  .col{
    border-bottom: 5px solid #e0e0e0;
    padding-bottom:0.5rem;
    color:gray;
  }
  .blue-border-bottom{
    border-bottom: 5px solid blue;
  }
  img{
      opacity:.5;
  }
  .black-border-bottom{
    border-bottom: 5px solid black;
    color:black;
    font-weight:bold;

    img{
        opacity:1;
    }
  }
  .session-guide-icon{
    width:3.5rem;
    height:3.5rem;
  }
  p{
    font-weight:400;
    margin: 0;
    padding: 0;
  }
}

.file-drop-zone {
  width: 100%;

  .file-decorate {
    border: 1px dashed #0056f5;
    background: white;
    border-radius: 5px;

    .drop-zone-desc {
      font-weight: 600;
    }
    .browse-btn{

    }
    #article{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: auto;
      text-align: center;

      p{
        font-size:.8rem;
      }
    }
  }
}

.text-faded{
  opacity: 0.4;
}

.meeting-client-inner{

}

.bn-note {
  background-color: #f5f5f5;
  border-radius: 4px;
  margin: 16px 0;
  padding: 16px 24px;
  font-size: 1em;
  line-height: 1.35em;
  border-width: 0 5px;
  border-style: solid;
  border-color: #eee;
  letter-spacing: .5px;
  &--warning {
    background-color: #fcf2d7;
    border-color: #f9e09b;
  }
  &--success {
    background-color: #a6fca6;
  }
  &__title {
    font-weight: 500;
    padding-bottom: 8px;
  }
}
.router-link-active {
  color: #0000ff!important;
}
.ctm-togl{
  .q-item{
    padding-left: 0px;
  }
  .q-item__section--side{
    text-align: right;
  }
}
.upgradebrn{
  display: inline-block;
  margin-right: 20px;
}
.video-thumb-dummy{
  
}
// customer view
.dcol-aerr{
  width: 6%
}
.dcol-fname{
  width: 25%
}
.dcol-sttus{
  width: 10%
}
.dcol-mtime{
  width: 45%
}
.dcol-btnd{
  width: 15%;
}
@media (max-width: 1024px) {
  .tbnner .no-wrap{
    white-space: normal;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .dcol-fname {
    width: 30%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
  }
  .dcol-sttus {
    width: 15%;
  }
  .dcol-mtime {
    width: 45%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .dcol-aerr {
    width: 10%;
  }
  .dcol-btnd {
    width: 30%;
  }
}
.vmob {
  display: none;
}
/* MOBILE */
@media (max-width: 767px) {
  .vmob{
    display: block;
  }
  .mbhide{
    display: none;
  }
  .mbroww{
    display: none;
  }
  .tbnner .no-wrap{
    justify-content: flex-start;
  }
  .dcol-fname {
    width: 81%;
    padding-right: 0px;
  }
  .dcol-mtime {
    width: 100%;
  }
  .dcol-sttus {
    width: 50%;
  }
  .dcol-btnd{
    width: 50%;
  }
  .tzone-cust{
    padding-left:0px;
    width: 100%;
  }
  .fcmn{
    flex-wrap: wrap;
    flex-direction: unset;
    flex-basis: auto;
    flex-grow: unset;
    flex-shrink: unset;
    padding: 0;
  }
  .rdlpreview{
    display: block;
    flex-wrap: unset;
    min-width: auto;
    h3{
      text-align: center;
    }
  }
  .ffrid{
    margin-bottom: 15px;
  }
  .bbrid{
    padding-left: 0;
  } 
}
// customer view end
//dashboard page
.dscol-ses{
  width: 8%;
}
.dscol-st{
  width: 10%;
}
.dscol-sign{
  width: 30%;
}
.dscol-mtd{
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dscol-bbt{
  width: 15%;
}
@media (max-width: 1024px) {
  .nnot-dash {
    .q-item-type.no-wrap {
      white-space: normal;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }
  .dscol-ses {
    width: 10%;
  }
  .dscol-st {
    width: 15%;
  }
  .dscol-sign {
    width: 25%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .dscol-mtd {
    width: 41%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .dscol-bbt {
    width: 25%;
  }
}
//dashboard page
//template page
.tempc-name{
  width: 40%;
  p{
    display: inline;
  }
}
.tempc-date{
  width: 30%
}
.tmpname{
  width: 40%;
}
@media (max-width: 1024px) {
  .tempc-name{
    white-space: normal;
    word-break: break-all;
    width: 50%;
  }
  .tempc-date{
    width: 50%;
  }
  .tab-nowrp {
    white-space: normal;
    flex-wrap: wrap;
  }
  .tmpname {
    width: 50%;
  }
}
//
//journal page
.cols-aer{
  width: 6%;
}
.cols-ss{
  width: 8%;
  span{
    display: block;
    line-height: normal;
    &.clbblue{
      cursor: pointer;
      color: blue;
      font-size: 10px;
    }
  }
}
.cols-st{
  width: 10%;
  padding-left: 15px;
}
.cols-psign{
  width: 25%;
  span{
    display: block;
    line-height: normal;
    &.clbblue{
      cursor: pointer;
      color: blue;
      font-size: 10px;
    }
  }
}
.cols-mdt{
  width: 40%;
}
.cols-gtses{
  width:15%;
}
.vbtab{
  display: none !important;
}
@media (max-width: 1024px) {
  .hidtab{
    display: none !important;
  }
  .vbtab{
    display: block !important;
  }
  .myses{
    .q-item-type.no-wrap{
      white-space: normal;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }
  .cols-psign{
    line-height: normal;
    span{
      text-overflow: ellipsis;
      overflow: hidden;
      width: 85%;
    }
  }
  .cols-ss {
    width: 15%;
  }
  .cols-st {
    width: 13%;
    padding-left: 0px;
  }
  .cols-mdt {
    width: 38%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cols-gtses {
    width: 30%;
  }
  .cols-aer {
    width: 9%;
  }
}
//setting
.set-mauto{
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .set-mauto {
    max-width: 720px;
    .q-tab{
      padding: 0;
    }
  }
  .sett-field{
    padding-right: 0;
    margin-bottom: 20px;
  }
}
//simulator page
@media (max-width: 1180px) {
  .pdf-edit-column{
    width: 20% !important;
  }
  .pdfprvbox{
    width: 60% !important;
  }
  .pdfdrgdrop{
    padding-right: 0;
  }
}

/*MOBILE VIEW PDF PAGE*/
@media screen and (max-width: 767px) {
  .video-item{
    white-space: nowrap;
    overflow-y: scroll;
    width:100%;
    video{
      height: 80px;
    }
  }

  #notorizationTypeCard{
    width: 100% !important;
  }

  .pdf-upper-text{
    position: inherit !important;
  }

}
@media (max-width: 992px) {
  .pdfmain{
    display: block;
    display: block !important;
  }
  .video-item{
    overflow-y: scroll;
    white-space: nowrap;
    video{
      height: auto;
      display: inline-block;
    }
  }
  .video-list{
    display: block !important;
  }
  .video-container{
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .dummyblock{
    float: left;
    width: 150px;
    height: 150px;
  }
  .wrtcvid{
    float: left;
    max-height: 150px;
    width: 100%;
    &.simltor{
      width: calc(100% - 150px);
    }
  }
  #notorizationTypeCard{
    float: left;
    width: 33%;
    padding-top: 16px;
  }
  #notorizationPriceCard{
    float: left;
    width: 33%;
  }
  .pdf-edit-column{
    height: auto;
    width: 100% !important;
  }
  .pdf-upper-text {
    position: absolute;
    top: 150px;
    right: 0;
    width: 33%;
    display: block;
    background: none !important;
    padding-top: 16px;
  }
  .tersec{
    width: 100% !important;
    display: block !important;
    padding-left: 0 !important;
    margin-bottom: 15px;
    span{
      display: block;
      width: 100%;
    }
  }
  .pdfdrgdrop{
    position: fixed;
    bottom: 0;
    background-color: #fff;
    box-shadow: -1px -20px 20px 0px rgb(193 193 193 / 25%);
    padding-bottom: 0;
    width: 100% !important;
  }
  .dd-itm{
    display: inline-block;
    width: 25%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 !important;
    vertical-align: top;
  }
  button.dd-itm {
    top: 6px;
  }
  .pdf-pages-container{
    margin-bottom: 250px;
    overflow-y: visible;
    width: 100%;
  }
  .pdfprvbox{
    width: 100% !important;
    display: block !important;
  }
}
.cust-set{
  max-width: 697px;
  width: 100%;
}
.red-error{
  color: #C10015;
  font-size: 14px;
  margin-top: 10px;
}
.mtdate {
  margin-left: 12px;
}

@media (max-width: 767px) {
  .mtdate {
    margin-left: 0px;
    margin-top: 10px;
  }
}